<div class="card">
  <div class="card-body text-center">
    <div *ngIf="error">
      {{ error.message }}
    </div>
    <div *ngIf="uploadResponse && uploadResponse.status === 'error'">
      {{ uploadResponse.message }}
    </div>
    <div *ngIf="uploadResponse && uploadResponse.status === 'progress'">
      <div
        role="progressbar"
        [style.width.%]="uploadResponse.message"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ uploadResponse.message }}%
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="file" name="image" (change)="onFileChange($event)" />
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div>
