<h1 mat-dialog-title>Are you an admin !</h1>
<div mat-dialog-content>
  <p>Type down the pin code</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.pin" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.pin" cdkFocusInitial>
    Ok
  </button>
</div>
