<div *ngIf="galleryItems.length > 0" class="row">
  <div class="col-md-2 offset-md-5">
    <button
      class="btn btn-danger"
      (click)="openDialog()"
      style="text-align:center"
    >
      Delete All
    </button>
  </div>
</div>
<div class="col-md-2 offset-md-10">
  <a class="btn btn-primary" [routerLink]="['/add']">
    Add
  </a>
</div>
<div
  *ngIf="!galleryItems || galleryItems.length == 0"
  class="col-md-3 offset-md-5"
>
  <h3 style="text-align:center">No images yet</h3>
</div>
<hr />
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of galleryItems">
    <img-item [image]="item" (myEvent)="onDelte($event)"></img-item>
  </div>
</div>
