<div class="card">
  <div class="card-body text-center">
    <p>
      <img
        class="img-fluid"
        src="{{ image }}"
        alt="card image"
        style="min-height:234px"
      />
    </p>
    <button mat-button (click)="handleDelte(image)">
      <i class="fa fa-remove"></i>
    </button>
    <button mat-button (click)="onDownload(image)">
      <i class="fa fa-arrow-down"></i>
    </button>
  </div>
</div>
